beautifulsoup4
django
django-background-tasks
django-cleanup
django-debug-toolbar
django-impersonate
django-maintenancemode
docker
humanfriendly
jinja2
jsonfield
jsonschema
parsedatetime
psutil
pygments
pypandoc
python-decouple
python-magic
python-mimeparse
pytz 
