{% extends 'layout.html' %}
{% load getitem_filter %}

{% block title %}Uploads{% endblock %}

{% block contents %}
<h2>Uploads (by students)</h2>

{% if uploads %}
<p class="alert alert-info">

# of submissions: {{ uploads|length }}
</p>

<table class="table table-striped">
<thead>
  <tr>
    <th>Name</th>
    {% for q in qst %}
    <th class="text-center">Q.{{ q }}</th>
    {% endfor %}
  </tr>
</thead>
<tbody>
{% for login in logins %}
{% with user=users|get_item:login %}
{% with upload=uploads|get_item:login %}
  <tr>
    <td>{{ user.fullname }}</td>
    {% for q in qst %}
    <td class="text-center">
    {% if upload.1|get_item:q %}
    <i class="glyphicon glyphicon-ok text-success"></i>
    <sub><a target="_blank" href="{% url 'upload:upload_by_user_index' the.code the.subcode the.promo q login %}">
      <i class="glyphicon glyphicon glyphicon-download"></i>
    </a></sub>
    {% else %}
    <i class="glyphicon glyphicon-remove text-danger"></i>
    {% endif %}
    </td>
    {% endfor %}
  </tr>
{% endwith %}
{% endwith %}
{% endfor %}
</tbody>
<thead>
  <tr>
    <th>Total</th>
    {% for q in qst %}
    <th class="text-center">{% widthratio pct|get_item:q 1 100 %} %</th>
    {% endfor %}
  </tr>
</thead>
</table>
{% else %}
<div class="alert alert-warning">No uploads</div>
{% endif %}
{% endblock %}
