{% extends 'layout.html' %}
{% load getitem_filter %}

{% block title %}Uploads{% endblock %}

{% block contents %}
<h2>Uploads (by questions)</h2>

<table class="table table-striped">
<thead>
  <tr>
    <th>Name</th>
    <th>Completion</th>
  </tr>
</thead>
<tbody>
{% for q in qst %}
{% with p=pct|get_item:q %}
  <tr>
    <td>Q.{{ q }}</td>
    <td>
    <div class="progress progress-thin">
      <div class="progress-bar progress-bar-warning progress-bar-striped"
           role="progressbar" style="width:{% widthratio p 1 100 %}%">
        {% widthratio p 1 100 %}%
      </div>
    </div>
    </td>
  </tr>
{% endwith %}
{% endfor %}
</tbody>
</table>
{% endblock %}
