{% extends 'layout.html' %}
{% load getitem_filter %}

{% block title %}Uploads{% endblock %}

{% block contents %}
<h2>Uploads (by students)</h2>

{% if uploads %}
<p class="alert alert-info"># of submissions: {{ uploads|length }}</p>

<p>
  <span class="glyphicon glyphicon-ok"></span> test ok &mdash;
  <span class="glyphicon glyphicon-remove"></span> test failure &mdash;
  <span class="glyphicon glyphicon-time"></span> uploaded / waiting for test &mdash;
  <span class="glyphicon glyphicon-cd"></span> uploaded / no test
</p>

<table class="table table-striped">
<thead>
  <tr>
    <th>Name</th>
    {% for q in qst %}
    <th class="text-center">Q.{{ q }}</th>
    {% endfor %}
  </tr>
</thead>
<tbody>
{% for login in logins %}
{% with user=users|get_item:login %}
{% with upload=uploads|get_item:login %}
  <tr>
    <td>{{ user.fullname }}</td>
    {% for q in qst %}
    <td class="text-center text-nowrap">
    {% if upload.1|get_item:q %}
    {% with handin=upload.1|get_item:q|first %}
    {% if handin.status == '' %}
    <span class="glyphicon glyphicon-time text-warning"></span>
    {% elif handin.status == 'success' %}
    <span class="glyphicon glyphicon-ok text-success"></span>
    {% elif handin.status == 'failure' %}
    <span class="glyphicon glyphicon-remove text-danger"></span>
    {% elif handin.status == 'no-test' %}
    <span class="glyphicon glyphicon-cd text-success"></span>
    {% elif handin.status == 'errored' %}
    <span class="glyphicon glyphicon-warning-sign text-warning"></span>
    {% endif %}
    <sub><a target="_blank" href="{% url 'upload:download_upload' the.code the.subcode the.promo login q %}">
      <i class="glyphicon glyphicon glyphicon-download"></i>
    </a></sub>
    <sub><a href="{% url 'upload:upload_details_by_login' the.code the.subcode the.promo login q %}">
      <i class="glyphicon glyphicon glyphicon-circle-arrow-right"></i>
    </a></sub>
    {% endwith %}
    {% endif %}
    </td>
    {% endfor %}
  </tr>
{% endwith %}
{% endwith %}
{% endfor %}
</tbody>
<thead>
  <tr>
    <th>Total</th>
    {% for q in qst %}
    <th class="text-center">{% widthratio pct|get_item:q 1 100 %} %</th>
    {% endfor %}
  </tr>
</thead>
</table>
{% else %}
<div class="alert alert-warning">No uploads</div>
{% endif %}
{% endblock %}
