{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block title %}{{ the.code }} / {{ the.subcode }} ({{ the.promo }}){% endblock %}

{% block headcontents %}
{{ contents.header | safe }}
{% endblock %}

{% block contents %}

{% if the.start > now.date() %}
<div class="alert alert-warning">
  This assignment will be published on {{ the.start.strftime('%B %d, %Y') }}.
</div>
{% endif %}

<script>
function prepare_input_file() {
  $('.input-file').before(
    function() {
      if ( ! $(this).prev().hasClass('input-ghost') ) {
        var element = $('<input>', {
          'type'     : 'file',
          'class'    : 'input-ghost',
          'style'    : 'visibility:hidden; height:0',
          'multiple' : 'multiple',
        });
        element.attr('name', $(this).attr('name'));
        element.change(function() {
          var nfiles = element.get(0).files ? element.get(0).files.length : 1;
          var label  = element.val().replace(/\\/g, '/').replace(/.*\//, '');

          if (nfiles > 1)
            label = nfiles + ' files selected';
          element.next(element).find('input').val(label);
        });
        $(this).find('button.btn-choose').click(function() {
          element.click();
        });
        $(this).find('input').css('cursor', 'pointer');
        $(this).find('input').mousedown(function() {
          $(this).parents('.input-file').prev().click();
          return false;
        });
        return element;
      }
    }
  );
}

$(document).ready(function() {
  prepare_input_file();
});
</script>

{% if not request.user.is_authenticated %}
<div class="alert alert-danger">You must be authenticated to submit your files</div>
{% elif handins %}
<div class="alert alert-info">
  On {{ date(now) }}, we had submissions for the following questions:
  {% for q in handins.keys() | sort %}
  {{ q }}(<span class="{{ macros.status(handins[q].status) }}"></span>) &ndash;
  {% endfor %}

  <a target="_blank" href="{{ url('upload:myuploads', the.code, the.subcode, the.promo) }}">
    Details <span class="fa fa-arrow-circle-right"></span>
  </a>
</div>
{% endif %}

{{ contents.text | safe }}
{% endblock %}
