<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" type="image/png" href="{{ static('favicon.ico') }}">

    {% block headcontents %}{% endblock %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% block headendcontents %}{% endblock %}

    <link rel="stylesheet" href="{{ static('css/style.css') }}" />
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              {% if nav is defined and nav.inasgn %}
              {{ nav.inasgn.code }} - {{ nav.inasgn.subcode }} ({{ nav.inasgn.promo }})
              {% else %}
              Quick jump
              {% endif %}
            </a>
            <div class="dropdown-menu" >
              <a class="dropdown-item" href="{{ url('upload:assignments') }}">Home</a>
              {% if request.user.has_perm('upload', 'admin') %}
              {% if nav is defined and nav.inasgn %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url('upload:uploads_by_users', nav.inasgn.code, nav.inasgn.subcode, nav.inasgn.promo) }}">Uploads (by students)</a>
              <a class="dropdown-item" href="{{ url('upload:uploads_by_questions', nav.inasgn.code, nav.inasgn.subcode, nav.inasgn.promo) }}">Uploads (by questions)</a>
              <a class="dropdown-item" href="{{ url('upload:uploads_by_submissions', nav.inasgn.code, nav.inasgn.subcode, nav.inasgn.promo) }}">Uploads (by submissions)</a>
              {% endif %}
              {% endif %}
              {% if nav is defined and nav.inasgn %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url('upload:myuploads', nav.inasgn.code, nav.inasgn.subcode, nav.inasgn.promo) }}">See my uploads</a>
              {% endif %}
              {% if nav is defined and nav.inasgn and nav.back %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url('upload:assignment', nav.inasgn.code, nav.inasgn.subcode, nav.inasgn.promo) }}">Back to assignment</a>
              {% endif %}
              {% if nav is defined and nav.oasgn.1 %}
              {% for code, asgns in nav.oasgn.1.items() %}
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">{{ code }}</h6>
                {% for asgn in asgns %}
                <a class="dropdown-item {{ 'active' if nav.inasgn.key == asgn.key else '' }}"
                   href="{{ url('upload:assignment', asgn.code, asgn.subcode, asgn.promo) }}">
                  <span class="fas fa-caret-right pr-2"></span>
                  {{ asgn.subcode }} - {{ asgn.promo }}
                </a>
                {% endfor %}
              {% endfor %}
              {% endif %}
              {% block nav %}{% endblock %}
            </div>
          </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
              {{ request.user.fullname }}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ url('upload:logout') }}?next={{ request.get_full_path() | urlencode }}">Logout</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
              Login
            </a>
            <form class="dropdown-menu dropdown-menu-right p-4" role="form" method="post"
                  style="min-width: 20em;" action="{{ url('upload:login') }}" accept-charset="UTF-8"
                  id="login-nav" />
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="form-group">
              <label class="sr-only" for="username">Email address</label>
              <input type="input" class="form-control" id="username" name="username" placeholder="Username" required="required" />
            </div>
            <div class="form-group">
              <label class="sr-only" for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="required" />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Sign in</button>
            </div>
            <input type="hidden" name="next" value="{{ request.get_full_path() }}" />
            </form>
          </li>
          {% endif %}
        </ul>
      </div>

      {% if request.user.is_authenticated and nav is defined and nav.inasgn %}
      <div id="status">
        <div class="text-nowrap">
          <span class="badge badge-pill badge-success" id="status-ok"
                data-toggle="tooltip" data-placement="bottom" title="">-</span>
          <span class="badge badge-pill badge-warning" id="status-mb"
                data-toggle="tooltip" data-placement="bottom" title="">-</span>
          <span class="badge badge-pill badge-danger"  id="status-ko"
                data-toggle="tooltip" data-placement="bottom" title="">-</span>
        </div>
      </div>
      {% endif %}
    </nav>

    {% if messages(request) %}
    <div id="top-alerts">
    {% for alert in messages(request) %}
        <div class="alert alert-dismissible {{ alert.tags }} fade show" role="alert">
        {{ alert }}
        <button type="button" class="close" data-dismiss="alert">
          <span>&times;</span>
        </button>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="container-fluid">
      <div id="load" class="alert alert-secondary">
        <div id="load-txt" class="small"></div>
      </div>

      <main id="content">
        {% if refresh is defined -%}
        <div id="refresh" class="alert alert-warning">
          <span id="refresh-txt">The page will be refreshed in - second(s)</span>
          &mdash;
          <div class="custom-control-inline custom-switch">
            <input type="checkbox" class="custom-control-input" id="refresh-suspend">
            <label class="custom-control-label" for="refresh-suspend">suspend</label>
          </div>
        </div>
        {%- endif %}
  
        {% block contents %}
        {% endblock %}
      </main>
    </div>

    {% if refresh is defined -%}
    <script type="text/javascript">
    var $grefresh  = {{ refresh }};
    var $suspended = false;
    var $rid       = null;

    function refresh() {
      if ($suspended)
        return ;
      $('#refresh-txt').text(
        'The page will be refreshed in ' + $grefresh + ' second(s)');
      if ($grefresh > 0) {
        $grefresh -= 1; $rid = setTimeout(refresh, 1000);
      } else {
        location.reload();
      }
    }

    $(function() {
      $('#refresh-suspend').change(function() {
        $suspended = $(this).prop('checked');
        if ($suspended) {
          if ($rid != null) {
            window.clearTimeout($rid);
          }
        } else {
          refresh();
        }
      });

      refresh();
    });
    </script>
    {%- endif %}

    <script type="text/javascript">
    function refresh_load() {
      $.ajax('{{ url('upload:load') }}').done(function(data) {
        var $p1 = parseFloat(data.p1);

        $('#load').removeClass(function (index, className) {
          return (className.match(/(^|\s+)alert-\S+/g) || []).join(' ');
        });
        if ($p1 < 2.0) {
          $('#load').addClass('alert-secondary');
        } else if ($p1 < 5.0) {
          $('#load').addClass('alert-warning');
        } else {
          $('#load').addClass('alert-danger');
        }

        $('#load-txt').text(data.p1 + ' / ' + data.count);
      });
    }

    $(function() {
      refresh_load();
      setInterval(refresh_load, 30000);
    });
    </script>

    {% if request.user.is_authenticated and nav is defined and nav.inasgn %}
    <script type="text/javascript">
    var $refresh_status_max = 16;
    var $refresh_status_cnt = $refresh_status_max;

    function refresh_status() {
      if ($refresh_status_cnt < $refresh_status_max) {
        $refresh_status_cnt += 1;
      } else {
        $refresh_status_cnt = 0;

        var $url  = '{{ url('upload:status', nav.inasgn.code, nav.inasgn.subcode, nav.inasgn.promo) }}';
        var $keys = ['ok', 'mb', 'ko'];

        $.ajax($url).done(function(data) {
          for (var x of $keys) {
            $('#status-' + x)
              .text(data[x].length)
              .attr('data-original-title', data[x].join(', '));
          }
        });
      }
    }

    $(function() {
      refresh_status();
      setInterval(refresh_status, 2000);
    });
    </script>
    {% endif %}

    <script type="text/javascript">
    $(function() {
        $("#top-alerts .alert").fadeTo(4000, 500).slideUp(500, function() {
          $("#top-alerts .alert").slideUp(500);
        });
    });
    </script>

    <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
    </script>
  </body>
</html>
