<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>

    {% block headcontents %}{% endblock %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ static('css/style.css') }}" />
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
              Quick jump
            </a>
            <div class="dropdown-menu" >
              {% if request.user.has_perm('upload', 'admin') %}
              {% if nav is defined and nav.inasgn %}
              <a class="dropdown-item" href="{{ url('upload:uploads_by_users', nav.inasgn.code, nav.inasgn.subcode, nav.inasgn.promo) }}">See uploads (by students)</a>
              <a class="dropdown-item" href="{{ url('upload:uploads_by_questions', nav.inasgn.code, nav.inasgn.subcode, nav.inasgn.promo) }}">See uploads (by questions)</a>
              <div class="dropdown-divider"></div>
              {% endif %}
              <a class="dropdown-item" href="{{ url('upload:assignments') }}">See all assignments</a>
              <div class="dropdown-divider"></div>
              {% endif %}
              {% if nav is defined and nav.inasgn %}
              <a class="dropdown-item" href="{{ url('upload:myuploads', nav.inasgn.code, nav.inasgn.subcode, nav.inasgn.promo) }}">See my uploads</a>
              {% endif %}
              {% if nav is defined and nav.inasgn and nav.back %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url('upload:assignment', nav.inasgn.code, nav.inasgn.subcode, nav.inasgn.promo) }}">Back to assignment</a>
              {% endif %}
              {% if nav is defined and nav.oasgn.1 %}
              <div class="dropdown-divider"></div>
              {% for asgn in nav.oasgn.1 %}
              <a class="dropdown-item" href="{{ url('upload:assignment', nav.inasgn.code, asgn, nav.inasgn.promo) }}">{{ nav.inasgn.code }} - {{ asgn }}</a>
              {% endfor %}
              {% endif %}
              {% block nav %}{% endblock %}
            </div>
          </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
              {{ request.user.fullname }}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ url('upload:logout') }}?next={{ request.get_full_path() | urlencode }}">Logout</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
              Login
            </a>
            <form class="dropdown-menu dropdown-menu-right p-4" role="form" method="post"
                  style="min-width: 20em;" action="{{ url('upload:login') }}" accept-charset="UTF-8"
                  id="login-nav" />
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="form-group">
              <label class="sr-only" for="username">Email address</label>
              <input type="input" class="form-control" id="username" name="username" placeholder="Username" required="required" />
            </div>
            <div class="form-group">
              <label class="sr-only" for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="required" />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Sign in</button>
            </div>
            <input type="hidden" name="next" value="{{ request.get_full_path() }}" />
            </form>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% if messages(request) %}
    {% for alert in messages(request) %}
    <div id="top-alerts">
      <div class="alert alert-dismissible {{ alert.tags }} fade show" role="alert">
        {{ alert }}
        <button type="button" class="close" data-dismiss="alert">
          <span>&times;</span>
        </button>
      </div>
    </div>
    {% endfor %}
    {% endif %}

    <div class="container handin">
    {% block contents %}
    {% endblock %}
    </div>

    <script type="text/javascript">
    $(document).ready(function() {
        $("#top-alerts .alert").fadeTo(4000, 500).slideUp(500, function() {
          $("#top-alerts .alert").slideUp(500);
        });
    });
    </script>
  </body>
</html>
