{% set allstatus = ['no-test', '', 'success', 'skipped', 'timeout', 'failure', 'errored', 'late'] %}

{% macro status(code) -%}
{% set values = {
     ''       : 'text-info fa-cogs',
     'success': 'text-success fa-check-circle',
     'failure': 'text-danger fa-times-circle',
     'skipped': 'text-warning fa-minus-circle',
     'timeout': 'text-danger fa-clock',
     'no-test': 'text-success fa-save',
     'errored': 'text-danger fa-bomb',
     'late'   : 'text-danger fa-calendar-times',
   } -%}
fa {{ values.get(code, 'fa-question-circle') }}
{%- endmacro %}

{% macro statustxt(code) -%}
{% set values = {
     ''       : 'waiting for test',
     'success': 'test success',
     'failure': 'test failure',
     'skipped': 'skipped',
     'timeout': 'timeout',
     'no-test': 'no test',
     'errored': 'internal error',
     'late'   : 'late',
   } -%}
{{ values.get(code, '<unknown>') }}
{%- endmacro %}

{% macro html_xstatus(xinfos) -%}
{% for test in xinfos %}
<span class="{{ status(test.1) }}" data-toggle="tooltip" data-placement="top" title="{{ test.0 }} - {{ test.1 }}"></span>
{% endfor %}
{%- endmacro %}

{% macro html_status(st) -%}
<span class="{{ status(st) }}" data-toggle="tooltip" data-placement="top" title="--Global--"></span>
{%- endmacro %}

{% macro upload_status(hdn) -%}
{{ html_xstatus(hdn.xinfos) if hdn.xinfos else html_status(hdn.status) }}
{% if hdn.late %}
- <span class="text-danger fas fa-calendar-times"></span>
{% endif %}
{%- endmacro %}

{% macro substatustxt(code) -%}
{% set values = {
     'success'           : 'success',
     'compilation-error' : 'compilation error / invalid syntax',
     'runtime-error'     : 'runtime error',
     'invalid-output'    : 'invalid result',
     'timeout'           : 'timeout',
   } -%}
{{ values.get(code, '<unknown>') }}
{%- endmacro %}

{% macro upload_details(data, key, links, dstudent = True, plink = False) -%}
{% if data.hdn.late %}
<div class="alert alert-danger">
  This submission has been uploaded after the deadline.
</div>
{% endif %}

<div class="mb-3">
{% for c in allstatus -%}
<span class="{{ status(c) }}"></span> {{ statustxt(c) }}
{{ '&mdash;' | safe if not loop.last else '' }}
{% endfor %}
</div>

<dl class="row">
  {% if dstudent %}
  <dt class="col-sm-3">Student</dt>
  <dd class="col-sm-9">{{ data.hdn.user.fullname }}</dd>
  {% endif %}
  <dt class="col-sm-3">
    Download
    <a href="{{ url(links['download'], data.asgn.code, data.asgn.subcode, data.asgn.promo, *key) }}">
      <span class="fa fa-download"></span>
    </a>
    {% if plink %}
    {%- set ourl = request.build_absolute_uri(
         url('upload:upload_details', data.asgn.code, data.asgn.subcode, data.asgn.promo, data.hdn.uuid)) -%}
    - <button class="btn btn-outline-dark btn-sm copy-button" data-clipboard-text="{{ ourl }}">
      <span class="fas fa-clipboard"></span>
    </button>
    {% endif %}
  </dt>
  <dd class="col-sm-9">
    {{ data.asgn.code }} - {{ data.asgn.subcode }} - {{ data.hdn.index }} - {{ data.cnt.0 }} / {{ data.cnt.1 }}
<!--
    <form class="form-inline">
      <select>
      {% for i in range(1, data.cnt.1+1) %}
      <option value={{ i }}{% if i == data.cnt.0 %} selected{% endif %}>{{ i }}</option>
      {% endfor %}
      </select>
    </form> / {{ data.cnt.1 }}
-->
  </dd>
  <dt class="col-sm-3">Submission date</dt>
  <dd class="col-sm-9">{{ date(data.hdn.date) }}</dd>
  <dt class="col-sm-3">Status</dt>
  <dd class="col-sm-11">
    {{ upload_status(data.hdn) }}
    {%- set failings = data.hdn.failings() -%}
    {% if failings %}
    {% for failing in failings %}
    <div class="thacc">
    <div class="card mt-2">
      <div class="card-header collapsed" data-toggle="collapse" data-target="#upload-failing-collapse-{{ loop.index }}">
        <h4 class="panel-title">
          <button class="btn btn-link">
            <i class="fa mr-2" aria-hidden="true"></i>
            {{ failing.0['name'] }} (first error: {{ substatustxt(failing.1['status']) }})
          </button>
        </h4>
      </div>
      <div id="upload-failing-collapse-{{ loop.index }}" class="card-collapse collapse">
        <div class="card-body">
        {% if failing.0['description'] %}
        <p><strong>Description</strong></p>
        <pre class="code"><code>{{ failing.0['description'] }}</code></pre>
        {% endif %}
        {% if 'index' in failing.1['xinfos'] %}
        <p><strong>Test #</strong></p>
        <pre class="code"><code>{{ failing.1['xinfos']['index'] }}</code></pre>
        <p>
          <strong>Input</strong>
          - <button class="btn btn-outline-dark btn-sm copy-button"
                    data-clipboard-text="{{ failing.1['xinfos']['input'] }}">
              <span class="fas fa-clipboard"></span>
            </button>
          <pre class="code"><code>{{ failing.1['xinfos']['input'] }}</code></pre>
        </p>
        {% endif %}
        {% if 'txt-expected' in failing.1['xinfos'] %}
        <p><strong>Expected behaviour</strong></p>
        <pre class="code pre-scrollable" style="max-height: 100ex;"><code>{{ failing.1['xinfos']['txt-expected'] }}</code></pre>
        {% endif %}
        {% if 'expected-output' in failing.1['xinfos'] %}
        <p><strong>Expected output</strong></p>
        <pre class="code"><code>{{ failing.1['xinfos']['expected-output'] }}</code></pre>
        {% endif %}
        {% if 'message' in failing.1['xinfos'] %}
        <p><strong>Message</strong></p>
        <pre class="code"><code>{{ failing.1['xinfos']['message'] }}</code></pre>
        {% endif %}
        {% if 'output' in failing.1['xinfos'] %}
        <p><strong>Your program output</strong></p>
        <pre class="code"><code>{{ failing.1['xinfos']['output'] }}</code></pre>
        {% endif %}
        {% if failing.1['status'] == 'timeout' %}
        <p><strong>Timeout</strong></p>
        <pre class="code"><code>{{ failing.0['timeout'] }}</code></pre>
        {% endif %}
        {% if 'backtrace' in failing.1['xinfos'] %}
        <p><strong>Backtrace</strong></p>
        <pre class="code pre-scrollable" style="max-height: 100ex;"><code>{{ failing.1['xinfos']['backtrace'] }}</code></pre>
        {% endif %}

        </div>
      </div>
    </div>
    </div>
    {% endfor %}
    {% endif %}
  </dd>
  {% if data.hdn.artifact.name %}
  <dt class="col-sm-3">Artifacts</dt>
  <dd class="col-sm-9">
    <a href="{{ url(links['artifact'], data.asgn.code, data.asgn.subcode, data.asgn.promo, *key) }}">
      Download &nbsp; <span class="fa fa-download"></span>
    </a>

    {% if False and data.fls %}
    <form onsubmit="return false;">
      <div class="form-group">
        <select id="fl" class="custom-select">
          <option value="" selected>---</option>
          {% for fl in data.fls %}
          <option value="{{ fl }}">{{ fl }}</option>
          {% endfor %}
        </select>
      </div>
    </form>
    {% endif %}
  </dd>
  {% endif %}
  <dt class="col-sm-3">Log</dt>
  <dd class="col-sm-9">
  {% if data.hdn.log %}
  <pre class="console"><code>{{ data.hdn.log }}</code></pre>
  {% else %}
  <em>No logs</em>
  {% endif %}
  </dd>
</dl>
{%- endmacro %}
