{% extends 'layout.html' %}

{% block title %}My uploads{% endblock %}

{% block contents %}
<h2>My uploads - {{ the.code }} / {{ the.subcode }} ({{ the.promo }})</h2>

<p>
  <span class="glyphicon glyphicon-ok"></span> test ok &mdash;
  <span class="glyphicon glyphicon-remove"></span> test failure &mdash;
  <span class="glyphicon glyphicon-time"></span> uploaded / waiting for test &mdash;
  <span class="glyphicon glyphicon-cd"></span> uploaded / no test
</p>

<table class="table table-striped">
<thead>
  <tr>
    <th>Question</th>
    <th>Upload timestamp</th>
    <th>Status</th>
  </tr>
</thead>
<tbody>
{% for q in qst %}
  <tr>
    <td>{{ q }}</td>
    {% if rqs[q] %}
    <td>{{ date(rqs[q].date) }}</td>
    <td>
    {% if rqs[q].status == '' %}
    <span class="glyphicon glyphicon-time"></span>
    {% elif rqs[q].status == 'success' %}
    <span class="glyphicon glyphicon-ok"></span>
    {% elif rqs[q].status == 'failure' %}
    <span class="glyphicon glyphicon-remove"></span>
    {% elif rqs[q].status == 'no-test' %}
    <span class="glyphicon glyphicon-cd"></span>
    {% elif rqs[q].status == 'errored' %}
    <span class="glyphicon glyphicon-warning-sign"></span>
    {% endif %}
    </td>
    <td class="text-center">
      <a href="{{ url('upload:myupload-dw', the.code, the.subcode, the.promo, q) }}">
        <span class="glyphicon glyphicon-download"></span>
      </a>
      <a href="{{ url('upload:myupload', the.code, the.subcode, the.promo, q) }}">
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
    </td>
    {% else %}
    <td>No submission</td>
    <td>-</td>
    <td></td>
    {% endif %}
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
