{% extends 'layout.html' %}

{% block title %}My uploads{% endblock %}

{% block contents %}
<p class="alert alert-info">Last update: {{ date(now) }}</p>

{% if hdns|length %}
<dl class="row">
  <dt class="col-sm-3">
    Download
    <a href="{{ url('upload:myupload-dw', the.code, the.subcode, the.promo, index) }}">
      <span class="glyphicon glyphicon-download"></span>
    </a>
  </dt>
  <dd class="col-sm-9">
    {{ the.code }} - {{ the.subcode }} - {{ index }} - #{{ hdns|length }}
  </dd>
  <dt class="col-sm-3">Submission date</dt>
  <dd class="col-sm-9">{{ date(hdns.0.date) }}</dd>
  <dt class="col-sm-3">Status</dt>
  <dd class="col-sm-9">
  {% if hdns.0.status == '' %}
  <span class="glyphicon glyphicon-time"></span> uploaded / waiting for test result
  {% elif hdns.0.status == 'success' %}
  <span class="glyphicon glyphicon-ok"></span> test ok
  {% elif hdns.0.status == 'failure' %}
  <span class="glyphicon glyphicon-remove"></span> test failure
  {% elif hdns.0.status == 'no-test' %}
  <span class="glyphicon glyphicon-cd"></span> uploaded / no test
  {% elif hdns.0.status == 'errored' %}
  <span class="glyphicon glyphicon-warning-sign"></span> internal error
  {% endif %}
  </dd>
  <dt class="col-sm-3">Log</dt>
  <dd class="col-sm-9">
  {% if hdns.0.log %}
  <pre class="console"><code>{{ hdns.0.log }}</code></pre>
  {% else %}
  <em>No logs</em>
  {% endif %}
  </dd>
</dl>
{% else %}
<p class="alert alert-warning">No submissions</p>
{% endif %}
{% endblock %}
