{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block title %}Upload details{% endblock %}

{% block contents %}
<p class="alert alert-info">Last update: {{ date(now()) }}</p>

<dl class="row">
  <dt class="col-sm-3">Student</dt>
  <dd class="col-sm-9">{{ hdn.user.fullname }}</dd>
  <dt class="col-sm-3">
    Download
    <a href="{{ url('upload:download_uuid', the.code, the.subcode, the.promo, hdn.uuid) }}">
      <span class="fa fa-download"></span>
    </a>
  </dt>
  <dd class="col-sm-9">
    {{ the.code }} - {{ the.subcode }} - {{ hdn.index }} - #{{ idx }} / {{ count }}
  </dd>
  <dt class="col-sm-3">Submission date</dt>
  <dd class="col-sm-9">{{ date(hdn.date) }}</dd>
  <dt class="col-sm-3">Status</dt>
  <dd class="col-sm-9">
    <span class="{{ macros.status(hdn.status) }}"></span>
    ({{ macros.statustxt(hdn.status) }})
  </dd>
  <dt class="col-sm-3">Log</dt>
  <dd class="col-sm-9">
  {% if hdn.log %}
  <pre class="console"><code>{{ hdn.log }}</code></pre>
  {% else %}
  <em>No logs</em>
  {% endif %}
  </dd>
</dl>
{% endblock %}
