{% extends 'layout.html' %}

{% block title %}Uploads{% endblock %}

{% block contents %}
<h2>Uploads (by questions)</h2>

<p class="alert alert-info">Proportions are given w.r.t. the total
number of students that submitted at last once in that assigment.</p>

<table class="table table-striped">
<thead>
  <tr>
    <th>Name</th>
    <th>Completion</th>
  </tr>
</thead>
<tbody>
{% for q in qst %}
{% set pct = stats[q] / nusers if nusers else 0 %}
  <tr>
    <td>Q.{{ q }}</td>
    <td>
    <div class="progress progress-thin">
      <div class="progress-bar progress-bar-warning progress-bar-striped"
           role="progressbar" style="width:{{ (100 * pct) | int }}%">
        {{ '%.2f' % (100 * pct) }}% ({{ stats[q] }} / {{ nusers }})
      </div>
    </div>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
