{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block title %}Upload details{% endblock %}

{% block contents %}
<p class="alert alert-info">Last update: {{ date(now()) }}</p>

{% set links = dict(
      download = 'upload:download_login_index',
      artifact = 'upload:artifact_login_index') %}

{% if data %}
{{ macros.upload_details(data, (data.hdn.user.login, data.hdn.index), links) }}
{% else %}
<p class="alert alert-warning">No submissions</p>
{% endif %}
{% endblock %}
