{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block title %}Uploads{% endblock %}

{% block contents %}
<h2>Uploads (by students)</h2>

<p class="alert alert-info">Last update: {{ date(now()) }}</p>

{% if uploads %}
<div class="py-2">
  <a role="button" class="btn btn-outline-primary btn-lg btn-block"
     target="_blank" href="{{ url('upload:download_all', the.code, the.subcode, the.promo) }}">
    Download all submissions
  </a>
</div>

<p>
{% for c in macros.allstatus -%}
<span class="{{ macros.status(c) }}"></span> {{ macros.statustxt(c) }}
{{ '&mdash;' | safe if not loop.last else '' }}
{% endfor %}
</p>

<div id="accordion">

{% for group in groups %}
{% set guploads=uploads[group] %}

<div id="uploads">
<div class="card">

<div class="card-header" data-toggle="collapse"
     data-target="#collapse-{{ group }}">
  <h4 class="panel-title">
    <button class="btn btn-link">
    {% if group %}Group {{ group }}{% else %}Uncategorized{% endif %}
    </button>
  </h4>
</div>

<div id="collapse-{{ group }}" class="card-collapse collapse" data-parent="#accordion">
<div class="card-body">

<table class="table table-striped uploads">
<thead>
  <tr>
    <th>Name</th>
    {% for q in qst %}
    <th class="text-center">Q.{{ q }}</th>
    {% endfor %}
  </tr>
</thead>
<tbody>
{% for login in guploads.keys()|sort %}
{% set user   = users[login] %}
{% set upload = guploads[login] %}
  <tr>
    <td>
      {{ user.1 | truncate(20, True) }}
      <a href="{{ url('upload:uploads_by_login', the.code, the.subcode, the.promo, login) }}">
        <span class="fa fa-arrow-circle-right"></span>
      </a>
    </td>
    {% for q in qst %}
    <td class="text-center text-nowrap status">
    {% if upload[q] %}
    {{ macros.upload_status(upload[q].0) }}
    &nbsp;
    <a target="_blank" href="{{ url('upload:download_login_index', the.code, the.subcode, the.promo, login, q) }}">
      <i class="small olinks fa fa-download"></i>
    </a>
    <a target="_blank" href="{{ url('upload:upload_details_by_login_index', the.code, the.subcode, the.promo, login, q) }}">
      <i class="small olinks fa fa-arrow-circle-right"></i>
    </a>
    {% endif %}
    </td>
    {% endfor %}
    <td style="border-left: 1px solid black;">
      <div class="px-2">
        <a target="_blank" href="{{ url('upload:download_login', the.code, the.subcode, the.promo, login) }}">
          <span class="fa fa-cloud-download-alt"><span>
        </a>
      </div>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

</div>
</div>
</div>
{% endfor %}

</div>
</div>
{% else %}
<div class="alert alert-warning">No uploads</div>
{% endif %}

<script type="text/javascript">
$(function() {
  $('.card-collapse').on('shown.bs.collapse', function () {
    var h = $(this).attr('id').match(/^collapse-(.+)$/);
    if (h != null) location.hash = h[1];
  });

  var mtch = window.location.hash.match(/^#(\d+|None)$/);

  if (mtch != null) {
    var tgt = $(('#collapse-' + mtch[1]) + '.collapse');

    tgt.collapse({ 'toggle': true, 'parent': '#accordion' });
    $('html, body').animate({ scrollTop: tgt.parent().offset().top }, 400);
  }
});
</script>

{% endblock %}
