{% extends 'layout.html' %}

{% block title %}Uploads{% endblock %}

{% block contents %}
<h2>Uploads (by students)</h2>

<p class="alert alert-info">Last update: {{ date(now) }}</p>

{% if uploads %}
<p>
  <span class="glyphicon glyphicon-ok"></span> test ok &mdash;
  <span class="glyphicon glyphicon-remove"></span> test failure &mdash;
  <span class="glyphicon glyphicon-time"></span> uploaded / waiting for test &mdash;
  <span class="glyphicon glyphicon-cd"></span> uploaded / no test
</p>

<div class="panel-group" id="accordion">

{% for group in groups %}
{% set guploads=uploads[group] %}

<div class="panel panel-default">
<div class="panel-heading" data-toggle="collapse"
     data-target="#collapse-{{ group }}" data-parent="#accordion">
  <h4 class="panel-title">
    <a class="accordion-toggle">
    {% if group %}Group {{ group }}{% else %}Uncategorized{% endif %}
    </a>
  </h4>
</div>

<div id="collapse-{{ group }}" class="panel-collapse collapse">
<div class="panel-body">

<table class="table table-striped uploads">
<thead>
  <tr>
    <th>Name</th>
    {% for q in qst %}
    <th class="text-center">Q.{{ q }}</th>
    {% endfor %}
  </tr>
</thead>
<tbody>
{% for login in guploads.keys()|sort %}
{% set user   = users[login] %}
{% set upload = guploads[login] %}
  <tr>
    <td>{{ user.1 | truncate(20, True) }}</td>
    {% for q in qst %}
    <td class="text-center text-nowrap">
    {% if upload[q] %}
    {% set handin = upload[q].0 %}
    {% if handin.status == '' %}
    <span class="glyphicon glyphicon-time text-warning"></span>
    {% elif handin.status == 'success' %}
    <span class="glyphicon glyphicon-ok text-success"></span>
    {% elif handin.status == 'failure' %}
    <span class="glyphicon glyphicon-remove text-danger"></span>
    {% elif handin.status == 'no-test' %}
    <span class="glyphicon glyphicon-cd text-success"></span>
    {% elif handin.status == 'errored' %}
    <span class="glyphicon glyphicon-warning-sign text-warning"></span>
    {% endif %}
    <span class="small olinks">
    <a target="_blank" href="{{ url('upload:download_upload', the.code, the.subcode, the.promo, login, q) }}">
      <i class="glyphicon glyphicon glyphicon-download"></i>
    </a>
    <a target="_blank" href="{{ url('upload:upload_details_by_login', the.code, the.subcode, the.promo, login, q) }}">
      <i class="glyphicon glyphicon glyphicon-circle-arrow-right"></i>
    </a>
    </span>
    {% endif %}
    </td>
    {% endfor %}
  </tr>
{% endfor %}
</tbody>
</table>

</div>
</div>
</div>
{% endfor %}

</div>
{% else %}
<div class="alert alert-warning">No uploads</div>
{% endif %}

<script type="text/javascript">
$(function() {
  $('.panel-collapse').on('shown.bs.collapse', function () {
    var h = $(this).attr('id').match(/^collapse-(.+)$/);
    if (h != null) location.hash = h[1];
  });

  var mtch = window.location.hash.match(/^#(\d+|None)$/);

  if (mtch != null) {
    var tgt = $(('#collapse-' + mtch[1]) + '.collapse');

    tgt.collapse({ 'toggle': true, 'parent': '#accordion' });
    $('html, body').animate({ scrollTop: tgt.offset().top }, 400);
  }
});
</script>

{% endblock %}
